* {
    margin: 0;
    padding: 0;
}

ul > li {
    margin-left: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;

}

ul {
    list-style-position: inside;
}

.container {
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7)
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;

}

.navbar ul li a:hover {
    color: skyblue
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

section#home {
    background: url('https://source.unsplash.com/_6lUTo2UfMY/1600x900') no-repeat center center/
    cover;
}

section#resume {
    background: url('https://source.unsplash.com/RCAhiGJsUUE/1600x900') no-repeat center center/
    cover;
}

section#education {
    background: url('https://source.unsplash.com/_S-zZyQiOr8/1600x900') no-repeat center center/
    cover;
}

section#skills {
    background: url('https://source.unsplash.com/_S-zZyQiOr8/1600x900') no-repeat center center/
    cover;
}

section#projects {
    background: url('https://source.unsplash.com/_S-zZyQiOr8/1600x900') no-repeat center center/
    cover;
}

section#work {
    background: url('https://source.unsplash.com/_S-zZyQiOr8/1600x900') no-repeat center center/
    cover;
}

section#contact {
    background: url('https://source.unsplash.com/cl8lM1W2nHM/1600x900') no-repeat center center/
    cover;
}

.mypicture {
    height: 20px;
    width: 10px;
}

.link
{
   color:white;
   text-decoration: none; 
   background-color: transparent;
}

.vertLbox {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.projectsBox {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.vertL {
    height: 400px;
    width: 200px;
    border: solid;
    border-radius: 20px;
    /* padding: 10px */
    /* padding: 30px; */
    
}

.projectsBoxL {
    height: 500px;
    width: 400px;
    border: solid;
    border-radius: 20px;
    text-align: left;
}

.vertLHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
}

.projectBoxHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
}